.container{style: "margin-top:30px"}
  .row
    .col-md-10
      %h3{style: "display: inline-block"} 全部书评
  - @book_reviews.each do |book_review|
    .container.book_review{id: book_review.id}
      %h3= book_review.title
      .row
        .col-md-1
          %div= book_review.user.nikename
        .col-md-2
          %div= book_review.created_at.strftime("%F")
      %span= book_review.content
    %hr

:javascript
  $(document).ready(function() {
    $('.book_review').click(function(){
      window.location = "/api/book_reviews/" + this.id;
    })
  })

:css
  .more {
    margin-left: 20px;
  }