.container{style: "margin-top: 50px"}
  = form_for :book_review, :html => {:class => 'form-horizontal'}, url: api_book_reviews_path, method: :post do |f|
    .form-group
      .col-sm-12
        =f.text_field :title, class: 'form-control', placeholder: "无标题文章", style: "width: 100%"
    .form-group
      .col-sm-12
        =f.text_area :content, class: 'form-control', placeholder: "写下你的书评吧…", rows: 10
        =f.text_field :book_id, value: @book_review.book_id, style: "display:none"
    .form-group#error{hidden: true}
      %strong.error 请写点什么再发布吧
    .form-group
      .col-sm-offset-1.col-sm-1
        = f.submit "发布文章", class: 'btn btn-primary', style: "margin-left: 950px;", id: "submit_btn"

:css
  body {
    background-color: #eee;
  }
  .error {
    color: red;
    margin-left: 15px;
  }

:javascript
  $(document).ready(function(){
    $('#submit_btn').click(function(){
      if($('#book_review_title').val().length == 0 && $('#book_review_content').val().length == 0){
        $('#error').show();
        window.event.preventDefault();
      } else {
        $('#error').hide();
      }
    })
  })